option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "BvtKyhjpEjZ1raBviAITO5zdKxxf4ExUIM70TzuD"
    MASTER_KEY: "eWA8FSHfM8OpnDB7kdxT5cRyFEtcGGLqwHclydKN"
    DATABASE_URI: "mongodb://mikalackis:mikalackis@ds013908.mlab.com:13908/ariel_dev"
    NODE_ENV: "production"
    SERVER_URL: "http://arielparseserver-main.us-east-1.elasticbeanstalk.com/parse"
    PORT: "1337"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
